<div th:fragment="producto-page">
  
  <div class="table-responsive">
      <table class="table table-hover">
          <thead>
              <tr>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Price</th>
                  <th>Status</th>
                  <th>Actions</th>
              </tr>
          </thead>
          <tbody>
              <tr th:each="producto : ${productos}"
                  th:insert="~{productos/lista-admin-row :: producto-row(producto=${producto})}">
              </tr>
          </tbody>
      </table>
  </div>

  <!-- Pagination Controls -->
  <div th:replace="~{pagination :: paginationControls(
          ${pagination}, 
          '/productos/admin/filtrar', 
          '#productsAdminFilterForm', 
          '#adminProductsTableContainer',
          'products')}">
  </div>
</div>